.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.logo-text {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.page-layout {
  height: 100vh;
  min-height: 810px;
}

.header-row {
  justify-content: flex-start;
  align-items: center;
}
