.card-container {
  padding: 30px 30px;
  margin: 30px auto;
  background-color: white;
  box-shadow: 0px 0px 15px rgb(230, 230, 230);
  max-width: 400px;
  min-height: 520px;

  .title {
    font-weight: bold;
    font-size: 20px;
  }

  .button {
    margin-top: 10px;
  }

  .divider {
    margin: 12px 0;
  }
}

.form-container {
  height: 120px;
  margin-top: 15px;

  .ant-form-explain {
    font-size: 10px;
    margin-top: 5px;
  }
  .input {
    width: 100%;
  }
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.logo-text {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.page-layout {
  height: 100vh;
  min-height: 810px;
}

.header-row {
  justify-content: flex-start;
  align-items: center;
}

.alert {
  margin-top: 10px;
  font-size: 10px;
}

.tag {
  margin-right: 0;
}
